<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Linksafe<%= @page_title ? "&#8212;#{@page_title}" : '' %></title>
<%= @head_additions -%>
<link rel="shortcut icon" href="<%= path_to_image('favicon.ico') %>" />
<%= stylesheet_link_tag 'main' %>
<%= stylesheet_link_tag 'SpryMenuBarHorizontal.css' %>
<%= stylesheet_link_tag 'SpryMenuBarVertical.css' %>
<%= javascript_include_tag( 'SpryMenuBar.js' ) %>
</head>
<body<%= @template_onload.nil? ? '' : " onload='#{@template_onload}'" %>>
<div id='wrapper'>
<div id='utility_nav'><%= link_to('home', "#{retail_ibroker}main" ) %> &#183; 
	<%= link_to('about us', "#{retail_ibroker}main/about_us" ) %> &#183; 
	<%= link_to('about i-names', "#{retail_ibroker}about" ) %> &#183; 
	<%= link_to('tools', "#{retail_ibroker}main/tools" ) %> &#183; 
	<%= link_to('news', "http://sourceforge.net/projects/linksafe" ) %> &#183; 
	<%= link_to('help', "#{retail_ibroker}main/help" ) %> &#183; 
	<%= link_to('@linksafe', 'http://xri.net/@linksafe' ) %><br />	
</div>

<div id='logo1'><%= link_to( image_tag( 'template/logo_top.gif', { :alt => '--', :size => '172x5', :align => 'left', :border => 0 } ), "#{retail_ibroker}main" ) %></div>

<div id='logo2'><%= link_to( image_tag( 'template/logo_bot.gif', { :alt => 'Linksafe', :size => '172x30', :border => 0, :align => 'left' } ), "#{retail_ibroker}main" ) %></div>
<div id='tagline'>
<table border='0' cellpadding='0' cellspacing='0' width='99%'>
<tr valign='top'><td>
  <div id='innertagline'><em><%= link_to( 'Pull yourself together!', "#{theme_data[:RETAIL_IBROKER]}about_us" ) %></em></div>
</td><td align='right'>
  <div id='banner_login'><% unless loggedin? %><% if controller.class.name != 'LoginController' %><%= render( :partial => 'login/login' ) %><% end %>
<% else %>
	<%= form_tag( { :controller => 'login', :action => 'logout'}, { :class => 'login', :name => 'logout' } ) %>
	<%= displayname_for_user %> <%= submit_tag( 'Logout' ) %>
	</form>
<% end %>
</div>
</td>
</tr>
</table>
</div>

<%= render(:file => "theme_tree/linksafe_theme/retailer/app/views/layouts/nav/_retailer_primary.rhtml", :use_full_path => false) %>

<div id='content_div'>
<table cellpadding='6' cellspacing='0' border='0'>
<tr valign='top'>
<td>
<% m2 = render( :file => "layouts/nav/#{controller_paths[0]}/_primary.rhtml", :use_full_path => true)
if m2.blank? -%>
	<img src="/images/spacer.gif" width="150" height="1" alt="spacer" border='0' />
<% else %>
	<ul id="MenuBarSide" class="MenuBarVertical">
	<li class='banner'><%= controller_paths[0].titleize %></li>
	<%= m2 %></ul>
	<script type="text/javascript">
	<!--
	var menuBarSide = new Spry.Widget.MenuBar("MenuBarSide", {});
	//-->
	</script>
<% end -%>

</td><td>

<% unless @page_title.nil? %><h1><%= @page_title %></h1><% end %>
<%= errors %><%= alerts %><%= notices %>
<!-- CONTENT BEGIN -->
<%= @content_for_layout %>
<!-- CONTENT END -->

</td></tr></table>
</div><!-- /div#content_div -->

</div><!-- /div#wrapper -->

<div class='footer'>
<p>
<%= link_to( 'Customer Service', "#{retail_ibroker}policy/customerservice" ) %> &#183;
<%= link_to( 'Terms of Service', "#{retail_ibroker}agreements/tos" ) %> &#183;
<%= link_to( 'Privacy', 'http://xri.net/@linksafe.name/(+privacy.policy)' ) %> &#183; 
<%= link_to( 'Policy', "#{retail_ibroker}policy" ) %> &#183; Powered by <a href="http://ezibroker.net">EZiBroker</a> &#183; All prices in USD$<br />
The LinkSafe code is available on <a href="http://sourceforge.net/projects/linksafe">SourceForge</a>. &#183; LinkSafe&#8482; is a trademark of LinkSafe, LLC<br />
&#169; Copyright 2006-08 LinkSafe, LLC &#183; All Rights Reserved
</p>

</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3227879-<%= LinksafeTheme::GoogleAnalyticsIds[ApplicationID] %>");
pageTracker._trackPageview();
</script>

</body>
</html>
